.Main:hover .sub{
    background-color: white;
    transform: scale(0.8);
}

/* Hover effect for sub inside Main */
.Main .sub:hover {
  transform: scale(1);
  color: white;
}

/* Button inside hovered sub */
.Main .sub:hover button {
  background-color: black;
}

/* Card styling */
.sub {
  transition: all 1s ease; 
  width: 300px;
  text-align: center;
}

/* Image styling */
.sub img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

/* Button styling */
.sub button {
  transition: all 1s ease; /* fixed */
  width: 300px;
  height: 50px;
  background-color: green;
  color: white;
  font-size: large;
  border-radius: 20px;
  border:none;
}
